{% extends "base.html" %}

{% block title %}
Create Account - Doxari
{% endblock %}

{% block content %}

<div class="form-container">

```
<div class="form-header">

    <h1>
        Create Account
    </h1>

    <p>
        Get started with Doxari
    </p>

</div>


<form method="POST">

    <div class="form-group">

        <label for="email">
            Email address
        </label>

        <input
            type="email"
            id="email"
            name="email"
            placeholder="you@example.com"
            required
        >

    </div>


    <div class="form-group">

        <label for="password">
            Password
        </label>

        <input
            type="password"
            id="password"
            name="password"
            placeholder="Create a password"
            required
        >

    </div>


    <button
        type="submit"
        class="form-button"
    >
        Create Account
    </button>

</form>


<p class="form-footer">
    Already have an account?

    <a href="{{ url_for('login') }}">
        Login
    </a>
</p>
```

</div>

{% endblock %}
